/*noinspection CssUnresolvedCustomProperty,CssInvalidFunction,CssInvalidHtmlTagReference*/
.core {
    display: inline-flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: var(--padding, 0.5rem 1rem);
    border-radius: var(--radius, 0.25rem);
}

/*noinspection CssInvalidHtmlTagReference */
.core:disabled {
    cursor: default;
}

/*noinspection CssInvalidHtmlTagReference */
.core[data-full=true] {
    width: 100%;
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
.core[data-vx=fill] {
    border-color: var(--primary, #ffb74d);
    background-color: var(--primary, #ffb74d);
    color: var(--on-primary, #1c2025);

    /*noinspection CssUnresolvedCustomProperty*/
    &:not(:disabled):hover {
        border-color: var(--primary-hover, #b28035);
        background-color: var(--primary-hover, #b28035);
    }
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
.core[data-vx=line] {
    border-color: var(--primary, #ffb74d);
    background-color: transparent;
    color: var(--primary, #ffb74d);

    /*noinspection CssUnresolvedCustomProperty*/
    &:not(:disabled):hover {
        border-color: var(--primary-hover, #b28035);
        color: var(--primary-hover, #b28035);
    }
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
.core[data-vx=text] {
    border-color: transparent;
    color: var(--primary, #ffb74d);
    background-color: transparent;

    /*noinspection CssUnresolvedCustomProperty*/
    &:not(:disabled):hover {
        color: var(--primary-hover, #b28035);
    }
}

/*noinspection CssUnresolvedCustomProperty*/
@media (prefers-color-scheme: light) {
    .core[data-vx=fill]:disabled, .core[data-vx=line]:disabled {
        border-color: transparent;
        background-color: var(--disabled, rgba(0, 0, 0, 0.12));
    }
    .core[data-vx=fill]:disabled, .core[data-vx=line]:disabled, .core[data-vx=text]:disabled {
        color: var(--on-disabled, rgba(0, 0, 0, 0.26));
    }
}

/*noinspection CssUnresolvedCustomProperty*/
@media (prefers-color-scheme: dark) {
    .core[data-vx=fill]:disabled, .core[data-vx=line]:disabled {
        border-color: transparent;
        background-color: var(--disabled, rgba(255, 255, 255, 0.12));
    }
    .core[data-vx=fill]:disabled, .core[data-vx=line]:disabled, .core[data-vx=text]:disabled {
        color: var(--on-disabled, rgba(255, 255, 255, 0.3));
    }
}