/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
.core {
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    padding: 0;
    resize: none;
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
.core::placeholder {
    color: var(--placeholder, #6B7A90);
}

/*noinspection CssUnresolvedCustomProperty*/
@media (prefers-color-scheme: light) {
    .core:disabled {
        color: var(--disabled, rgba(0, 0, 0, 0.26));
    }
}

/*noinspection CssUnresolvedCustomProperty*/
@media (prefers-color-scheme: dark) {
    .core:disabled {
        color: var(--disabled, rgba(255, 255, 255, 0.3));
    }
}

/*noinspection CssInvalidHtmlTagReference*/
.core:active, .core:focus {
    border: none;
}